@font-face {
  font-family: 'Museo Sans Cyrl';
  src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'), url('Museosanscyrl500.woff2') format('woff2'), url('Museosanscyrl500.woff') format('woff'), url('Museosanscyrl500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  font-family: 'Museo Sans Cyrl';
  height: 100vh;
  width: 100%;
  background-color:#f5f5f7;
}
nav img {
  width: 40px;
}

a {
  color: gray;
}

nav {
  padding: 10px 100px;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  gap: 50px;
}

main {
  display: flex;
}

.bigtext img {
  width: 500px;
  transform: translate(150px, 80px);
}

.bigtext h1 {
  color: white;
  font-size: 290px;
  line-height: 220px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: auto;
  top: 0;
  left: -25px;
  margin-top: 100px;
}

.pods img {
  width: 519px;
}

.caption {
  z-index: 2;
  width: 300px;
  transform: translate(245px, 130px);
}

.caption h2,
.margin h2 {
  font-size: 100px;
  line-height: 85px;
  color: rgb(58, 58, 58);
}

p {
  margin-top: 30px;
  color: gray;
  line-height: 25px
}

.caption button,
.margin button {
  margin-top: 30px;
  padding: 20px 50px;
  border-radius: 50px;
  color: rgb(183, 183, 183);
  font-size: 20px;
  box-shadow: 30px 19px 49px rgba(0, 0, 0, 0.2), -8px -12px 29px rgba(0, 0, 0, 0.29);
  border: 2px solid #dadada;
  outline: none;
  background-color: #f5f5f7;
  cursor: pointer;
transition: 1s ease-in-out;
}

.pods {
  position: absolute;
  right: 0;
}

.color {
  background-color: white;
}

.description {
  display: flex;
}

.description img {
  width: 450px;
}
.jc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto {
  margin: 60px 50px;
}

.desc_position h2 {
  width: 600px;
  position: relative;
  right: 200px;
  top: 150px;
  font-size: 100px;
  line-height: 85px;
  color: rgb(236, 236, 236);
}

.desc button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 20px;
  box-shadow: 30px 19px 49px rgba(0, 0, 0, 0.2), -8px -12px 29px rgba(0, 0, 0, 0.29);
  border: 2px solid #dadada;
  background-color: white;
  color: rgb(208, 208, 208);
  margin-top: 30px;
  transition: 1s ease-in-out;
}
 button:hover {
  color: rgb(121, 121, 121);
  background-color: rgb(234, 234, 234);
  border: 2px solid #999999;
  padding: 20px 60px;
}
.desc button:hover {
  padding: 0;
}

.desc {
  width: 500px;
  margin-top: 200px;
}

.airpods img {
  width: 900px;
  position: relative;
 right: -150px;
}

.airpods {
  overflow: hidden;
  position: absolute;
  right: 0;
}

.margin {
  margin-left: 100px;
  margin-top: 200px;
  width: 400px;
}