* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding: 40px 50px;
  align-items: flex-start;
}

.a_name_company {
  font-weight: 800;
  font-size: 20px;
}

nav a {
  color: rgba(58, 60, 53, 1)
}

.nav_center {
  display: flex;
  gap: 40px;
}

.banner {
  padding: 65px 50px;
  border-top: 1px solid rgba(58, 60, 53, 1);
}

.text_and-button {
  display: flex;
  gap: 20px;
}

.text_and-button p {
  font-size: 18px;
  color: rgba(58, 60, 53, 1);
}

.button1 {
  font-size: 18px;
  background-color: transparent;
  border: 1px solid rgba(58, 60, 53, 1);
  border-radius: 30px;
  padding: 5px 20px;
}

.retro_cars {
  font-size: 120px;
  color: rgba(58, 60, 53, 1);
  margin: 0 10px;
  padding-bottom: 20px;
}

.menu_with_cars {
  display: flex;
  flex-wrap: wrap;
}

.item_cars {
  width: 49.9%;
  height: 400px;
  border: 0.8px solid white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
}
.padding {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttons_cars {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bc1 {
  background-image: url(./Rectangle\ 12.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bc2 {
  background-image: url(./Rectangle\ 13.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bc3 {
  background-image: url(./Rectangle\ 12-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bc4 {
  background-image: url(./Rectangle\ 13-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bc5 {
  background-image: url(./Rectangle\ 12-3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bc6 {
  background-image: url(./7016c2ede1e3fc3b358792263629dc44\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(58, 59, 53, 1);
}
.rent {
  background-color: white;
  border-radius: 30px;
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  color:  rgba(58, 60, 53, 1);
}
.miles_cars {
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
}
button {
  cursor: pointer;
}