@font-face {
  font-family: 'OpenGost Type A TT';
  src: local('OpenGost Type A TT Regular'), local('OpenGostTypeATT-Regular'), url('opengosttypeattregular.woff2') format('woff2'), url('opengosttypeattregular.woff') format('woff'), url('opengosttypeattregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'OpenGost Type A TT';
}

.banner {
  background: radial-gradient(rgba(124, 171, 243, 1),
      rgba(227, 238, 255, 1));
  height: 100vh;
}

.container {
  padding: 0 100px;
  font-weight: 100;
}

button {
  cursor: pointer;
}

a {
  color: rgba(0, 80, 185, 1);
}

nav {
  text-transform: uppercase;
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 80, 185, 1);
  align-items: center;
  font-size: 18px;
}

.main-nav a {
  margin: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bc-border {
  text-transform: uppercase;
  border: 1px solid rgba(0, 80, 185, 1);
  background-color: rgba(0, 80, 185, 1);
  color: white;
  border-radius: 10px;
  padding: 4px 20px;
}

.foto-of-shoes img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

.pos-top {
  position: relative;
  top: -123px;
}

.carousel {
  display: flex;
  justify-content: space-around;
}

.heading-title h1 {
  font-size: 50px;
  font-weight: 200;
  color: rgba(0, 63, 147, 1);
  text-transform: uppercase;
}

.heading-title h2 {
  color: rgba(0, 63, 147, 1);
  font-size: 40px;
  font-weight: 100;
  margin-top: 10px;
}

.heading-flex {
  display: flex;
  gap: 100px;
  color: rgba(0, 63, 147, 1);
  font-size: 20px;
}

.heading-flex ol {
  text-align: left;
}

.consultation {
  background-color: rgb(255, 214, 251);
  color: rgba(0, 63, 147, 1);
  width: 292.25px;
  height: 63.04px;
  border: 1px solid rgb(0, 63, 147, 1);
  border-radius: 20px;
  font-size: 30px;
  font-weight: 100;
  margin-top: 30px;
  box-shadow: 2px 7px 13px 2px rgba(34, 60, 80, 0.22);
  transition: 1s ease-in-out;
}

.consultation a {
  padding: 20px 50px;
}

.consultation:hover {
  background-color: rgb(255, 197, 249);
  transform: scale(1.3);
}

.subsract_l {
  position: absolute;
  top: 50%;
  left: 100px;
  bottom: 50%;
}

.foto-of-shoes {
  width: 500px;
}

.subsract_r {
  position: absolute;
  top: 50%;
  right: 100px;
  bottom: 50%;
}

.left {
  margin-top: 200px;
  position: relative;
  left: 90px;
}

.carousel__indicators {
  display: flex;
  position: absolute;
  left: 46%;
  bottom: 0px;
  gap: 10px;
}

.carousel__indicators_item {
  border: 1px solid white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.filled {
  background-color: white;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  position: fixed;
  cursor: default;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  top: 0;
  right: 0;
  left: 0;
  font-size: 20px;
  z-index: 10;
  display: block;
  visibility: hidden;
  width: 90%;
  margin: 0 auto;
  min-width: 330px;
  max-width: 350px;
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all ease .5s;
}

.overlay:target+.popup {
  top: 30%;
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 80, 185, 1);
  border-radius: 15px;
  background-color: rgba(0, 80, 185, 1);
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
}

.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
}

.popup input {
  margin-top: 20px;
  width: 150px;
  padding: 5px 20px;
  background-color: rgb(255, 214, 251);
  color: rgba(0, 63, 147, 1);
  border: 1px solid rgb(0, 63, 147, 1);
  border-radius: 20px;
}

.popup h3 {
  color: rgba(0, 80, 185, 1);
  text-align: center;
}

input[type=submit] {
  background-color: rgb(255, 214, 251);
  color: rgba(0, 63, 147, 1);
  width: 150px;
  height: 40px;
  border: 1px solid rgb(0, 63, 147, 1);
  border-radius: 20px;
  font-size: 20px;
  font-weight: 100;
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.stars {
  position: absolute;
  left: 220px;
  top: 290px;
}

.stars2 {
  position: absolute;
  left: 200px;
  top: 330px;
}

.stars3 {
  width: 15px;
  position: absolute;
  left: 800px;
  top: 370px;
}

.doli {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 223, 252, 1);
  gap: 20px;
}

.doli a {
  color: black;
  text-decoration: underline;
}

.logo-doli {
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}

.sale {
  height: 50px;
  background-color: rgba(255, 223, 252, 1);
  border-top: 5px solid rgba(245, 148, 239);
  border-bottom: 5px solid rgba(245, 148, 239);
  display: flex;
  overflow: hidden;
  align-items: center;
  font-size: 17px;
}

.sale a {
  color: rgba(245, 148, 239);
  width: 300px;
  text-transform: uppercase;
}

.sale_item {
  display: flex;
  gap: 70px;
  animation-duration: 20s;
  animation-name: move;
  animation-iteration-count: inherit;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    margin-left: -1000px;
  }

  to {
    margin-left: 500px;
  }
}

.cards_box {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
}

.cards_box::-webkit-scrollbar {
  width: 0;
}

.cards_item {
  margin: 30px;
  text-align: center;
  font-size: 21px;
  border-radius: 10px;
  color: rgba(0, 80, 185, 1);
  background-color: rgba(202, 222, 253, 0.55);
  width: 420px;
  height: 168.95px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: -3px 4px 5px 0px rgba(0, 54, 124, 0.26);
}

.union {
  margin-left: 46%;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.categorii_card {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  position: relative;
}

.categorii_card_item:hover {
  transform: scale(1.1);
}

.categorii_card_item {
  transition: 0.5s ease-in-out;
}

.categorii_card_item img {
  width: 350px;
}

.bc {
  color: rgba(255, 52, 235, 1);
  background-color: white;
  border-radius: 30px;
  padding: 5px 20px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
}


.padd {
  padding: 0 120px;
}

.padd h1 {
  font-size: 47px;
  color: rgba(255, 52, 235, 1);
  text-align: center;
  font-weight: 300;
  line-height: 53.58px;
}

.padd h2 {
  font-size: 30px;
  color: rgba(255, 52, 235, 1);
  text-align: center;
  font-weight: 300;
}

.starpink1 {
  position: relative;
  left: 250px;
  width: 25px;
}

.starpink2 {
  position: relative;
  top: 50px;
  left: 150px;
}

.starpink3 {
  position: relative;
  top: 120px;
  left: 900px;
  width: 35px;
}

.gradient {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFDFFC 63.99%);
}

.carousel_feedback {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 50px;
}

.carousel_feedback img {
  width: 300px;
}

.feedback {
  position: relative;
}

.subsract_l_fb {
  position: absolute;
  bottom: 40%;
}

.subsract_r_fb {
  right: 0;
  position: absolute;
  bottom: 40%;
}

.delivery {
  display: flex;
  justify-content: center;
  gap: 250px;
  padding: 50px 0;
}

.delivery img {
  width: 300px;
}

.text h1 {
  font-size: 49px;
  color: black;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
}

.text h2 {
  font-size: 35px;
  color: black;
  text-align: left;
  font-weight: 300;
  margin-top: 20px;
}

.bt_delivery {
  background-color: white;
  margin: 30px 0;
  width: 330px;
  height: 60px;
  border-radius: 20px;
  border: none;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 100;
  color: rgba(255, 52, 235, 1);
  box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-in-out;
}

.bt_delivery:hover {
  transform: scale(1.1);
  background-color: rgb(255, 239, 253);
}


.on_h1 {
  position: relative;
  background-color: rgba(255, 52, 235, 1);
  color: white;
  width: 100px;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  top: 20px;
  transform: rotate(15deg);
  left: 250px;
}

.karta {
  max-width: 1100px;
  margin: 50px 0;
}

.center {
  display: flex;
  justify-content: center;
}

.ft {
  display: flex;
  justify-content: space-around;
  background-color: rgba(39, 67, 243, 1);
  color: white;
  border-radius: 50px 50px 0 0;
  padding-top: 80px;
}

.ft h4 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 100;
}

.ft p {
  font-size: 25px;
}

.ft a {
  color: white;
  font-size: 25px;
}

.flex_ft {
  display: flex;
  gap: 40px;
}

.place,
.zakaz,
.kontact {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}